<footer class="py-3 my-4 bg-dark" id="footerId">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item px-2">
          @Html.ActionLink("Home", "Index", "Home")
        </li>
        <li class="nav-item px-2">
          @Html.ActionLink("Treats", "Index", "Treats")
        </li>
        <li class="nav-item px-2">
          @Html.ActionLink("Flavors", "Index", "Flavors")
        </li>
        <li class="nav-item px-2">
          @Html.ActionLink("Account", "Index", "Account")
        </li>
  </ul>
  <p class="text-center text-muted">© 2022 Pierre's Food Conglomerate, Inc</p>
</footer>